* {
    margin: 0;
    box-sizing: border-box;
    font-family: "NOto Sans KR", sans-serif;
}

/***************************
********상단 start버튼 ******
****************************/
  #hero-banner.item {
    height: 558px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  #hero-banner.banner-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
  }
  #hero-banner h2 {
    margin-top: 299px;
    font-size: 39px;
    line-height: 49px; 
  
    text-align: right;  
  }
  #hero-banner h2 b{
  color:#F9690E;
  }

  #hero-banner h2 {
    margin-top: 299px;
    font-size: 39px;
    line-height: 49px; 
    color:#F9690E;
    text-align: right;  
  }
  #hero-banner p { 
    font-size: 22px; 
  margin-bottom:20px;
  line-height:35px; 
    text-align: right;}
   
    #hero-text h2 {
      margin-top: 0;
    }
  #hero-banner a{
  width: 150px;
  margin: 0;
  display: block;
  background: transparent;
  border: 2px solid #fff;
  float: right;
  }
  #hero-banner a:hover{
  text-align: center;
  width: 150px;
  margin: 0 auto;
  display: block;
  background: #F9690E;
  border: 2px solid #F9690E;
  color: #FFF;
  }
  #hero-banner.banner-inner h2 > span {
    color: #45aed6;
  }
  #hero-banner.banner-inner .btn {
    margin-top: 50px;
  } 
   
  #hero-text {
    padding: 50px 0;
    border-top: 1px solid #FFFFFF;
  }
  #hero-text h2 {
    margin-top: 0;
  }
  #hero-text .btn {
    margin-top: 40px;
  }


  /***************************
********감정분석 음악매칭 ******
****************************/

element.style {
    visibility: visible;
}

.section-header .section-title {
    font-size: 44px;
    color: #F9690E;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;  
    display: block;
    text-align: center;
  }
  .section-header .section-title:before {
    position: absolute;
    width: 140px;
    bottom: -5px;
    right: 0;
    width: 30px;
    background: rgb(249, 105, 14);
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 10px;
  }
