<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Title</title>
</head>
<body>
<div>
<h1>gjkfdgjk</h1>

    {% for music in music_list %}
        <p>{{ music.music_title }}</p>
        <p>{{ music.music_lyrics }}</p>
        <p>{{ music.music_genre}}</p>
    {% endfor %}

            {% csrf_token %}
            <input type="text" id="mt">
            <button type="button" onclick="sel_al()"> 확인 </button>

        <p id="mmt">d</p>

        <p id="mml">dd</p>
        <p id="mmy">dddd</p>


</div>
<script>
    function sel_al(e) {
        let title = $('#mt').val();
        console.log(title);
        $.ajax({
            url: "list_select",
            data: {title:title},
            method: "post",
            dataType: "json",
            success: function (data) {
                console.log("성공");
                console.log(data[0].music_lyrics);
                title1 = data[0].music_title;
                lyrics1 = data[0].music_lyrics;
                youtube_path1 = data[0].youtube_path;
                {#var data1 = JSON.stringify(data);#}
                {#console.log(data1);#}
                {#var keys = Object.keys(data1);#}
                {#for (var i=0; i<keys.length; i++) {#}
                {#    var key = keys[i];#}
                {#    console.log("key : " + key + ", value : " + data[key])#}
                {##}

                $("#mmt").html(title1);
                $("#mml").html(lyrics1);
                $("#mmy").html(youtube_path1);
            },
            error : function() {
                console.log("error");}
        });


    }

</script>



</body>
</html>