<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- jquery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- fullcalendar CDN -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
<!-- fullcalendar 언어 CDN -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
<title>감정분석 기반 나만의 음악 추천, hey-korean</title>
<!-- css -->
<link href="/assets/css/base.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css">
	<!-- css for doc -->
<link href="/assets/css/project.min.css" rel="stylesheet">
<link href="/assets/css/music.css" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet">
<!-- favicon -->
<!-- js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>
<body class="page-brand">
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#doc_menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		<a class="header-logo margin-left-no" href="/"><img src="/assets/css/images/logo.png"></a>
		<ul class="nav nav-list pull-right">
			<li class="dropdown margin-right">
				<a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
	</header>


<!--햄버거버튼 가사 , 리스트 -->
	<nav aria-hidden="true" class="menu" id="doc_menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				<a class="menu-logo" href="index.html">내 음악</a>

				<div class="player">
					<div class="player__header">
					<div class="player__img player__img--absolute slider">
						<button class="player__button player__button--absolute--nw playlist">
						<img src="http://physical-authority.surge.sh/imgs/icon/playlist.svg" alt="playlist-icon">
						</button>

						<button class="player__button player__button--absolute--center play">
						<img src="http://physical-authority.surge.sh/imgs/icon/play.svg" alt="play-icon">
						<img src="http://physical-authority.surge.sh/imgs/icon/pause.svg" alt="pause-icon">
						</button>

						<div class="slider__content">
							<img class="img slider__img" src="http://physical-authority.surge.sh/imgs/1.jpg" alt="cover">
							<img class="img slider__img" src="http://physical-authority.surge.sh/imgs/2.jpg" alt="cover">
							<img class="img slider__img" src="http://physical-authority.surge.sh/imgs/3.jpg" alt="cover">
							<img class="img slider__img" src="http://physical-authority.surge.sh/imgs/4.jpg" alt="cover">
							<img class="img slider__img" src="http://physical-authority.surge.sh/imgs/5.jpg" alt="cover">
						</div>
					</div>

					<div class="player__controls">
						<button class="player__button back">
							<img class="img" src="http://physical-authority.surge.sh/imgs/icon/back.svg" alt="back-icon">
						</button>
						<p class="player__context slider__context">
							<strong class="slider__name"></strong>
							<span class="player__title slider__title"></span>
						</p>
						<button class="player__button next">
							<img class="img" src="http://physical-authority.surge.sh/imgs/icon/next.svg" alt="next-icon">
						</button>
						<div class="progres">
							<div class="progres__filled"></div>
						</div>
					</div>
				</div>

					<ul class="player__playlist list">
						<li class="player__song">
						<img class="player__img img" src="http://physical-authority.surge.sh/imgs/1.jpg" alt="cover">
						<p class="player__context">
							<b class="player__song-name">Hero</b>
							<span class="flex">
							<span class="player__title">LUCY</span>
							<span class="player__song-time"></span>
							</span>
						</p>
						<audio class="audio" src="y2mate.com - MV LUCY  Hero히어로.mp3"></audio>
						</li>

						<li class="player__song">
						<img class="player__img img" src="http://physical-authority.surge.sh/imgs/2.jpg" alt="cover">
						<p class="player__context">
							<b class="player__song-name">blinding lights</b>
							<span class="flex">
							<span class="player__title">the weeknd</span>
							<span class="player__song-time"></span>
							</span>
						</p>
						<audio class="audio" src="http://physical-authority.surge.sh/music/2.mp3"></audio>
						</li>

						<li class="player__song">
						<img class="player__img img" src="http://physical-authority.surge.sh/imgs/3.jpg" alt="cover">
						<p class="player__context">
							<b class="player__song-name">джованна</b>
							<span class="flex">
							<span class="player__title">enrasta</span>
							<span class="player__song-time"></span>
							</span>
						</p>
						<audio class="audio" src="http://physical-authority.surge.sh/music/3.mp3"></audio>
					</li>

					<li class="player__song">
						<img class="player__img img" src="http://physical-authority.surge.sh/imgs/4.jpg" alt="cover">
						<p class="player__context">
						<b class="player__song-name">a man</b>
						<span class="flex">
							<span class="player__title">travis scott</span>
							<span class="player__song-time"></span>
						</span>
						</p>
						<audio class="audio" src="http://physical-authority.surge.sh/music/4.mp3"></audio>
					</li>

					<li class="player__song">
						<img class="player__img img" src="http://physical-authority.surge.sh/imgs/5.jpg" alt="cover">
						<p class="player__context ">
						<b class="player__song-name">unforgetting</b>
						<span class="flex">
							<span class="player__title">zaxx</span>
							<span class="player__song-time"></span>
						</span>
						</p>
						<audio class="audio" src="http://physical-authority.surge.sh/music/5.mp3"></audio>
					</li>

					</ul>
				</div>

				<ul class="nav">
					<li>
						<a class="collaosed waves-attach" data-toggle="collapse" href="#doc_menu_components">가사보기</a>
						<ul class="menu-collapse collapse" id="doc_menu_components">
							<li>
								<div style="text-align:center">
									<br/>부디 너의 맘에 하얗게 내린 눈꽃이<br/>차갑게 얼지 않기를<br/>너라는 이름은 오뉴월의 꿈만 같아<br/>
									깨고 싶지 않은걸<br/><br/>너라면 이런 날 기다릴 수 있을까<br/>저 달이 떨어져도<br/>난 아직까지 그대로 일텐데<br/>
									막다른 길이라고<br/>또 혼자서 넘어져 우울하고<br/>난 그대에게 조금 더 멋있는 사람이<br/>돼 주고 싶었는데
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!--start버튼-->
	<main class="content">
		<div class="content-heading" style="margin-top: 60px;">
            <div class="row">
                <div class="col-sm-12">
                        <a class="btn-primary" href="user/loginform">START</a>
                </div>
            </div>
		</main>
			<div class="container">
				<div class="row">
					</div>
				</div>

				<section id="services" >
					<div class="container">

						<div class="section-header">
							<h2 class="section-title wow fadeInDown" style="padding-left: 550px;">감정분석 음악 매칭</h2>
							<p class="wow fadeInDown">원하시는 곡을 선택하세요. 해외곡과 매칭해드립니다.</p>
						</div>
								<div class="images" >
										<div class="pull-left">
										</div>
										<img class="img" src="/assets/images/users/매칭.png" alt="">
								  </div>
					</div><!--/.container-->
				</section><!--/#services-->


			 <section id="about">
					<div class="container">

						<div class="section-header">
							<h2 class="section-title wow fadeInDown" >분석비교 결과</h2>
							<p class="wow fadeInDown"> 매칭한 곡의 감정분석 결과를 보여줍니다.</p>
						</div>
							<div class="images" data-wow-duration="300ms" data-wow-delay="300ms">
							  <img class="img-responsive" src="/assets/images/users/about.png" alt="" >
							</div>
					</div>
				</section><!--/#about-->

				 <section id="our-team">
					<div class="container">
						<div class="section-header">
							<h2 class="section-title wow fadeInDown" >감정분석 유사도</h2>
			<p class="wow fadeInDown">K-POP 과 가장 유사한 곡중 1-3위를 추천해주고, 해당가수의 관련 동영상을 연결해줍니다.</p>
						</div>

						<div class="row text-center">
							<div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
								<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
									<div class="team-img"  style="padding-left: 50px;">
										<img class="img-responsive" src="/assets/images/users/1.5.jpg" alt="">
									</div>
									<div class="team-info" >
										<h3>유사도 2위</h3>
										<span>Adele</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
								<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
									<div class="team-img" style="padding-left: 50px;">
										<img class="img-responsive" src="/assets/images/users/02.jpg" alt="">
									</div>
									<div class="team-info">
										<h3>유사도 3위</h3>
										<span>Rihanna</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
								<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
									<div class="team-img" style="padding-left: 50px;">
										<img class="img-responsive" src="/assets/images/users/03.jpg" alt="">
									</div>
									<div class="team-info">
										<h3>유사도 4위</h3>
										<span>Ariana Grande</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
								<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
									<div class="team-img" style="padding-left: 50px;">
										<img class="img-responsive" src="/assets/images/users/04.jpg" alt="">
									</div>
									<div class="team-info">
										<h3>YouTube</h3>
										<span>해당가수의 관련 영상</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</section><!--/#our-team-->

<!--footer-->
	<footer class="footer">
		<div class="container">
			<p>hey-korean</p>
		</div>
	</footer>
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-amber3-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-text">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn waves-attach waves-circle" href="#" target="_blank"><span class="fbtn-text">Fork me on GitHub</span><span class="icon">code</span></a>
				<a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="#" target="_blank"><span class="fbtn-text">Follow Daemon on Twitter</span><span class="icon">share</span></a>
				<a class="fbtn fbtn-green waves-attach waves-circle" href="#" target="_blank"><span class="fbtn-text">Website</span><span class="icon">link</span></a>
			</div>
		</div>
	</div>


	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/assets/js/base.min.js"></script>

	<!-- js for doc -->
	<script src="/assets/js/project.min.js"></script>



<script src="/assets/assets2/js/music.js"></script>
</body>
</html>